.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: green 2px solid;
  margin: 50px 250px;
  border-radius: 15px;
}
.list {
  list-style: none;
  display: flex;
}
.item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 25px;
  border-radius: 5px;
}
