.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stat-list {
  list-style: none;
  display: flex;
}
.item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 25px;
  border-radius: 5px;
}
